.Cart {

}

.Cart-close {
  align-self: center;
  margin-right: 20px;
}

.Cart-item {
  border-bottom: 1px dashed #ccc;
}

.Cart__list {
  margin-top: 70px;
}

.Cart-is-empty {
  text-align: center;
}

.Cart-footer {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 97px;
}

.Cart-item {
  padding: 20px 10px;
  font-weight: 700;
}
